ScreenSoapAPIClient/Web References/Users/USERS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.acumatica.com/generic/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.acumatica.com/generic/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.acumatica.com/generic/">
      <s:complexType name="ProcessResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:ProcessStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="Seconds" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ProcessStatus">
        <s:restriction base="s:string">
          <s:enumeration value="NotExists" />
          <s:enumeration value="InProcess" />
          <s:enumeration value="Completed" />
          <s:enumeration value="Aborted" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetScenario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="scenario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScenarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScenarioResult" type="tns:ArrayOfCommand" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCommand">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Command" nillable="true" type="tns:Command" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Command">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FieldName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ObjectName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="Commit" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="IgnoreError" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="LinkedCommand" type="tns:Command" />
          <s:element minOccurs="0" maxOccurs="1" name="Descriptor" type="tns:ElementDescriptor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ElementDescriptor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="IsDisabled" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="IsRequired" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" default="String" name="ElementType" type="tns:ElementTypes" />
          <s:element minOccurs="0" maxOccurs="1" default="0" name="LengthLimit" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="InputMask" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayRules" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AllowedValues" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ElementTypes">
        <s:restriction base="s:string">
          <s:enumeration value="String" />
          <s:enumeration value="AsciiString" />
          <s:enumeration value="StringSelector" />
          <s:enumeration value="ExplicitSelector" />
          <s:enumeration value="Number" />
          <s:enumeration value="Option" />
          <s:enumeration value="WideOption" />
          <s:enumeration value="Calendar" />
          <s:enumeration value="Action" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="SchemaMode">
        <s:restriction base="s:string">
          <s:enumeration value="Basic" />
          <s:enumeration value="Detailed" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EveryValue">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Key">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Action">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Field">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Value">
        <s:complexContent mixed="false">
          <s:extension base="tns:Field">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" default="false" name="IsError" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Answer">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RowNumber">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="NewRow">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DeleteRow">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Parameter">
        <s:complexContent mixed="false">
          <s:extension base="tns:Command" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Attachment">
        <s:complexContent mixed="false">
          <s:extension base="tns:Field" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfFilter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Filter" nillable="true" type="tns:Filter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Filter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Field" type="tns:Field" />
          <s:element minOccurs="1" maxOccurs="1" name="Condition" type="tns:FilterCondition" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
          <s:element minOccurs="0" maxOccurs="1" name="Value2" />
          <s:element minOccurs="1" maxOccurs="1" name="OpenBrackets" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CloseBrackets" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Operator" type="tns:FilterOperator" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="FilterCondition">
        <s:restriction base="s:string">
          <s:enumeration value="Equals" />
          <s:enumeration value="NotEqual" />
          <s:enumeration value="Greater" />
          <s:enumeration value="GreaterOrEqual" />
          <s:enumeration value="Less" />
          <s:enumeration value="LessOrEqual" />
          <s:enumeration value="Contain" />
          <s:enumeration value="StartsWith" />
          <s:enumeration value="EndsWith" />
          <s:enumeration value="NotContain" />
          <s:enumeration value="Between" />
          <s:enumeration value="IsNull" />
          <s:enumeration value="IsNotNull" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="FilterOperator">
        <s:restriction base="s:string">
          <s:enumeration value="And" />
          <s:enumeration value="Or" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LoginResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="tns:ErrorCode" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Session" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ErrorCode">
        <s:restriction base="s:string">
          <s:enumeration value="OK" />
          <s:enumeration value="INVALID_CREDENTIALS" />
          <s:enumeration value="INTERNAL_ERROR" />
          <s:enumeration value="INVALID_API_VERSION" />
        </s:restriction>
      </s:simpleType>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:LoginResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Logout">
        <s:complexType />
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetBusinessDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetBusinessDateResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetLocaleName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="localeName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetLocaleNameResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetSchemaMode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mode" type="tns:SchemaMode" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSchemaModeResponse">
        <s:complexType />
      </s:element>
      <s:complexType name="SM201010Content">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Actions" type="tns:SM201010Actions" />
          <s:element minOccurs="0" maxOccurs="1" name="UserInformation" type="tns:SM201010UserInformation" />
          <s:element minOccurs="0" maxOccurs="1" name="Statistics" type="tns:SM201010Statistics" />
          <s:element minOccurs="0" maxOccurs="1" name="PersonalSettings" type="tns:SM201010PersonalSettings" />
          <s:element minOccurs="0" maxOccurs="1" name="IPFilterAllowedIPAddressRanges" type="tns:SM201010IPFilterAllowedIPAddressRanges" />
          <s:element minOccurs="0" maxOccurs="1" name="ExternalIdentities" type="tns:SM201010ExternalIdentities" />
          <s:element minOccurs="0" maxOccurs="1" name="Roles" type="tns:SM201010Roles" />
          <s:element minOccurs="0" maxOccurs="1" name="ActiveDirectoryUserActiveDirectoryUser" type="tns:SM201010ActiveDirectoryUserActiveDirectoryUser" />
          <s:element minOccurs="0" maxOccurs="1" name="LicenseTypes" type="tns:SM201010LicenseTypes" />
          <s:element minOccurs="0" maxOccurs="1" name="SyncStatus" type="tns:SM201010SyncStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="RolesRoleName" type="tns:SM201010RolesRoleName" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SM201010Actions">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SaveUsers" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="CancelUsers" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="InsertUsers" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteUsers" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstUsers" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="PrevUsers" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="NextUsers" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="LastUsers" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="LoginAsUser" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="RestrictionGroupsByUser" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ResetPassword" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ResetPasswordOK" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ActivateLogin" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="EnableLogin" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="DisableLogin" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="UnlockLogin" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="Cancel" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="AddADUser" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="AddADUserOK" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ReloadADUsers" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ClearUserAssociation" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="ResendOnboardingEmail" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="GoToSalesforce" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="SyncSalesforce" type="tns:Action" />
          <s:element minOccurs="0" maxOccurs="1" name="SaveLoc" type="tns:Action" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SM201010UserInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Login" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="GeneratePassword" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="GuestAccount" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="UserType" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="LinkedEntityContactID" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="LinkedEntityDisplayName" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Comment" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="LicenseStatus" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="LinkedEntityEntity" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="AllowPasswordRecovery" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="AllowPasswordChanges" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="PasswordNeverExpires" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ForceUserToChangePasswordOnNextLogin" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="OverrideActiveDirectoryRolesWithLocalRoles" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Source" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:SM201010UserInformationServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SM201010UserInformationServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KeyLogin" type="tns:Key" />
          <s:element minOccurs="0" maxOccurs="1" name="EveryLogin" type="tns:EveryValue" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SM201010Statistics">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountCreationDate" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="LastLoginDate" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="LastLockoutDate" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="LastPasswordChangeDate" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="NumberOfUnsuccessfulAttemptsToEnterPassword" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="NumberOfUnsuccessfulAttemptsToEnterRecoveryAnswer" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:SM201010StatisticsServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SM201010StatisticsServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SM201010PersonalSettings">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PDFSigningCertificate" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="TimeZone" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="DefaultBranch" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="DefaultBranchBranch" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="HomePage" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ShowClassicUIByDefault" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:SM201010PersonalSettingsServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SM201010PersonalSettingsServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SM201010IPFilterAllowedIPAddressRanges">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StartIPAddress" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="EndIPAddress" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:SM201010IPFilterAllowedIPAddressRangesServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SM201010IPFilterAllowedIPAddressRangesServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NewRow" type="tns:NewRow" />
          <s:element minOccurs="0" maxOccurs="1" name="RowNumber" type="tns:RowNumber" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SM201010ExternalIdentities">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProviderName" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Active" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="UserKey" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:SM201010ExternalIdentitiesServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SM201010ExternalIdentitiesServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KeyProviderName" type="tns:Key" />
          <s:element minOccurs="0" maxOccurs="1" name="NewRow" type="tns:NewRow" />
          <s:element minOccurs="0" maxOccurs="1" name="RowNumber" type="tns:RowNumber" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SM201010Roles">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Selected" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="RoleName" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="RoleDescription" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:SM201010RolesServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SM201010RolesServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KeyRoleName" type="tns:Key" />
          <s:element minOccurs="0" maxOccurs="1" name="NewRow" type="tns:NewRow" />
          <s:element minOccurs="0" maxOccurs="1" name="RowNumber" type="tns:RowNumber" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SM201010ActiveDirectoryUserActiveDirectoryUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:SM201010ActiveDirectoryUserActiveDirectoryUserServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SM201010ActiveDirectoryUserActiveDirectoryUserServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SM201010LicenseTypes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Selected" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="LicenseType" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Available" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:SM201010LicenseTypesServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SM201010LicenseTypesServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KeyLicenseType" type="tns:Key" />
          <s:element minOccurs="0" maxOccurs="1" name="NewRow" type="tns:NewRow" />
          <s:element minOccurs="0" maxOccurs="1" name="RowNumber" type="tns:RowNumber" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SM201010SyncStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataProvider" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ExtRef" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Operation" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ImportScenario" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ExportScenario" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="LatestAttempt" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="AttemptCounter" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:SM201010SyncStatusServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SM201010SyncStatusServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NewRow" type="tns:NewRow" />
          <s:element minOccurs="0" maxOccurs="1" name="RowNumber" type="tns:RowNumber" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SM201010RolesRoleName">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RoleName" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="RoleDescription" type="tns:Field" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCommands" type="tns:SM201010RolesRoleNameServiceCommands" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SM201010RolesRoleNameServiceCommands">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KeyRoleName" type="tns:Key" />
          <s:element minOccurs="0" maxOccurs="1" name="NewRow" type="tns:NewRow" />
          <s:element minOccurs="0" maxOccurs="1" name="RowNumber" type="tns:RowNumber" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteRow" type="tns:DeleteRow" />
          <s:element minOccurs="0" maxOccurs="1" name="DialogAnswer" type="tns:Answer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SM201010PrimaryKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Login" type="tns:Value" />
        </s:sequence>
      </s:complexType>
      <s:element name="SM201010Clear">
        <s:complexType />
      </s:element>
      <s:element name="SM201010ClearResponse">
        <s:complexType />
      </s:element>
      <s:element name="SM201010GetProcessStatus">
        <s:complexType />
      </s:element>
      <s:element name="SM201010GetProcessStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProcessStatusResult" type="tns:ProcessResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SM201010GetSchema">
        <s:complexType />
      </s:element>
      <s:element name="SM201010GetSchemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSchemaResult" type="tns:SM201010Content" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SM201010SetSchema">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="schema" type="tns:SM201010Content" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SM201010SetSchemaResponse">
        <s:complexType />
      </s:element>
      <s:element name="SM201010Export">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="commands" type="tns:ArrayOfCommand" />
            <s:element minOccurs="0" maxOccurs="1" name="filters" type="tns:ArrayOfFilter" />
            <s:element minOccurs="1" maxOccurs="1" name="topCount" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="includeHeaders" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="breakOnError" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SM201010ExportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExportResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SM201010Import">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="commands" type="tns:ArrayOfCommand" />
            <s:element minOccurs="0" maxOccurs="1" name="filters" type="tns:ArrayOfFilter" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ArrayOfArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="includedHeaders" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="breakOnError" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="breakOnIncorrectTarget" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SM201010ImportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImportResult" type="tns:SM201010ArrayOfImportResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SM201010ImportResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Processed" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Keys" type="tns:SM201010PrimaryKey" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SM201010ArrayOfImportResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ImportResult" nillable="true" type="tns:SM201010ImportResult" />
        </s:sequence>
      </s:complexType>
      <s:element name="SM201010Submit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="commands" type="tns:ArrayOfCommand" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SM201010ArrayOfContent">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Content" nillable="true" type="tns:SM201010Content" />
        </s:sequence>
      </s:complexType>
      <s:element name="SM201010SubmitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitResult" type="tns:SM201010ArrayOfContent" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetScenarioSoapIn">
    <wsdl:part name="parameters" element="tns:GetScenario" />
  </wsdl:message>
  <wsdl:message name="GetScenarioSoapOut">
    <wsdl:part name="parameters" element="tns:GetScenarioResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapIn">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="SetBusinessDateSoapIn">
    <wsdl:part name="parameters" element="tns:SetBusinessDate" />
  </wsdl:message>
  <wsdl:message name="SetBusinessDateSoapOut">
    <wsdl:part name="parameters" element="tns:SetBusinessDateResponse" />
  </wsdl:message>
  <wsdl:message name="SetLocaleNameSoapIn">
    <wsdl:part name="parameters" element="tns:SetLocaleName" />
  </wsdl:message>
  <wsdl:message name="SetLocaleNameSoapOut">
    <wsdl:part name="parameters" element="tns:SetLocaleNameResponse" />
  </wsdl:message>
  <wsdl:message name="SetSchemaModeSoapIn">
    <wsdl:part name="parameters" element="tns:SetSchemaMode" />
  </wsdl:message>
  <wsdl:message name="SetSchemaModeSoapOut">
    <wsdl:part name="parameters" element="tns:SetSchemaModeResponse" />
  </wsdl:message>
  <wsdl:message name="SM201010ClearSoapIn">
    <wsdl:part name="parameters" element="tns:SM201010Clear" />
  </wsdl:message>
  <wsdl:message name="SM201010ClearSoapOut">
    <wsdl:part name="parameters" element="tns:SM201010ClearResponse" />
  </wsdl:message>
  <wsdl:message name="SM201010GetProcessStatusSoapIn">
    <wsdl:part name="parameters" element="tns:SM201010GetProcessStatus" />
  </wsdl:message>
  <wsdl:message name="SM201010GetProcessStatusSoapOut">
    <wsdl:part name="parameters" element="tns:SM201010GetProcessStatusResponse" />
  </wsdl:message>
  <wsdl:message name="SM201010GetSchemaSoapIn">
    <wsdl:part name="parameters" element="tns:SM201010GetSchema" />
  </wsdl:message>
  <wsdl:message name="SM201010GetSchemaSoapOut">
    <wsdl:part name="parameters" element="tns:SM201010GetSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="SM201010SetSchemaSoapIn">
    <wsdl:part name="parameters" element="tns:SM201010SetSchema" />
  </wsdl:message>
  <wsdl:message name="SM201010SetSchemaSoapOut">
    <wsdl:part name="parameters" element="tns:SM201010SetSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="SM201010ExportSoapIn">
    <wsdl:part name="parameters" element="tns:SM201010Export" />
  </wsdl:message>
  <wsdl:message name="SM201010ExportSoapOut">
    <wsdl:part name="parameters" element="tns:SM201010ExportResponse" />
  </wsdl:message>
  <wsdl:message name="SM201010ImportSoapIn">
    <wsdl:part name="parameters" element="tns:SM201010Import" />
  </wsdl:message>
  <wsdl:message name="SM201010ImportSoapOut">
    <wsdl:part name="parameters" element="tns:SM201010ImportResponse" />
  </wsdl:message>
  <wsdl:message name="SM201010SubmitSoapIn">
    <wsdl:part name="parameters" element="tns:SM201010Submit" />
  </wsdl:message>
  <wsdl:message name="SM201010SubmitSoapOut">
    <wsdl:part name="parameters" element="tns:SM201010SubmitResponse" />
  </wsdl:message>
  <wsdl:portType name="ScreenSoap">
    <wsdl:operation name="GetScenario">
      <wsdl:input message="tns:GetScenarioSoapIn" />
      <wsdl:output message="tns:GetScenarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="tns:LogoutSoapIn" />
      <wsdl:output message="tns:LogoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetBusinessDate">
      <wsdl:input message="tns:SetBusinessDateSoapIn" />
      <wsdl:output message="tns:SetBusinessDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetLocaleName">
      <wsdl:input message="tns:SetLocaleNameSoapIn" />
      <wsdl:output message="tns:SetLocaleNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSchemaMode">
      <wsdl:input message="tns:SetSchemaModeSoapIn" />
      <wsdl:output message="tns:SetSchemaModeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SM201010Clear">
      <wsdl:input message="tns:SM201010ClearSoapIn" />
      <wsdl:output message="tns:SM201010ClearSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SM201010GetProcessStatus">
      <wsdl:input message="tns:SM201010GetProcessStatusSoapIn" />
      <wsdl:output message="tns:SM201010GetProcessStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SM201010GetSchema">
      <wsdl:input message="tns:SM201010GetSchemaSoapIn" />
      <wsdl:output message="tns:SM201010GetSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SM201010SetSchema">
      <wsdl:input message="tns:SM201010SetSchemaSoapIn" />
      <wsdl:output message="tns:SM201010SetSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SM201010Import">
      <wsdl:input message="tns:SM201010ImportSoapIn" />
      <wsdl:output message="tns:SM201010ImportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SM201010Export">
      <wsdl:input message="tns:SM201010ExportSoapIn" />
      <wsdl:output message="tns:SM201010ExportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SM201010Submit">
      <wsdl:input message="tns:SM201010SubmitSoapIn" />
      <wsdl:output message="tns:SM201010SubmitSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ScreenSoap" type="tns:ScreenSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetScenario">
      <soap:operation soapAction="http://www.acumatica.com/generic/GetScenario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://www.acumatica.com/generic/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://www.acumatica.com/generic/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBusinessDate">
      <soap:operation soapAction="http://www.acumatica.com/generic/SetBusinessDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLocaleName">
      <soap:operation soapAction="http://www.acumatica.com/generic/SetLocaleName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchemaMode">
      <soap:operation soapAction="http://www.acumatica.com/generic/SetSchemaMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SM201010Clear">
      <soap:operation soapAction="http://www.acumatica.com/generic/SM201010/Clear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SM201010GetProcessStatus">
      <soap:operation soapAction="http://www.acumatica.com/generic/SM201010/GetProcessStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SM201010GetSchema">
      <soap:operation soapAction="http://www.acumatica.com/generic/SM201010/GetSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SM201010SetSchema">
      <soap:operation soapAction="http://www.acumatica.com/generic/SM201010/SetSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SM201010Export">
      <soap:operation soapAction="http://www.acumatica.com/generic/SM201010/Export" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SM201010Import">
      <soap:operation soapAction="http://www.acumatica.com/generic/SM201010/Import" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SM201010Submit">
      <soap:operation soapAction="http://www.acumatica.com/generic/SM201010/Submit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ScreenSoap12" type="tns:ScreenSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetScenario">
      <soap12:operation soapAction="http://www.acumatica.com/generic/GetScenario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://www.acumatica.com/generic/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://www.acumatica.com/generic/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBusinessDate">
      <soap12:operation soapAction="http://www.acumatica.com/generic/SetBusinessDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLocaleName">
      <soap12:operation soapAction="http://www.acumatica.com/generic/SetLocaleName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSchemaMode">
      <soap12:operation soapAction="http://www.acumatica.com/generic/SetSchemaMode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SM201010Clear">
      <soap12:operation soapAction="http://www.acumatica.com/generic/SM201010/Clear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SM201010GetProcessStatus">
      <soap12:operation soapAction="http://www.acumatica.com/generic/SM201010/GetProcessStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SM201010GetSchema">
      <soap12:operation soapAction="http://www.acumatica.com/generic/SM201010/GetSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SM201010SetSchema">
      <soap12:operation soapAction="http://www.acumatica.com/generic/SM201010/SetSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SM201010Export">
      <soap12:operation soapAction="http://www.acumatica.com/generic/SM201010/Export" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SM201010Import">
      <soap12:operation soapAction="http://www.acumatica.com/generic/SM201010/Import" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SM201010Submit">
      <soap12:operation soapAction="http://www.acumatica.com/generic/SM201010/Submit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Screen">
    <wsdl:port name="ScreenSoap" binding="tns:ScreenSoap">
      <soap:address location="https://localhost:44400/Soap/USERS.asmx" />
    </wsdl:port>
    <wsdl:port name="ScreenSoap12" binding="tns:ScreenSoap12">
      <soap12:address location="https://localhost:44400/Soap/USERS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>